body {
	background-color: #000;
}
#mainBody {
	background-color: #333;
	border: 5px groove #999;
	float: none;
	width: 80%;
	padding: 0px;
	position: absolute;
	background-image: url(../images/oreChemBkgf.gif);
	background-repeat: repeat;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 156px;
}
#logoImage {
	float: none;
	clear: none;
}
div#links {
	position: absolute;
	top: 81px;
	left: 0;
	width: 166px;
	height: 700px;
	font: 16px Verdana, sans-serif;
	z-index: 100;
}
div#links a {
	display: block;
	text-align: center;
	font: bold 1em sans-serif;
	padding: 5px 10px;
	margin: 0 0 1px;
	border-width: 0;
	text-decoration: none;
	color: #FFC;
	background: #444;
	border-right: 5px solid #505050;
}
div#links a#current {
	color: #FF0;
}
div#links a:hover {
	color: #411;
	background: #AAA;
	border-right: 5px double white;
}
div#links a span {
	display: none;
}
div#links a:hover span {
	display: block;
	position: absolute;
	top: 180px;
	left: 0;
	width: 125px;
	padding: 5px;
	margin: 10px;
	z-index: 100;
	color: #AAA;
	background: black;
	font: bold 12px Verdana, sans-serif;
	text-align: center;
}
div#content {
	position: absolute;
	top: 26px;
	left: 161px;
	right: 25px;
	color: #BAA;
	background: #22232F;
	font: 13px Verdana, sans-serif;
	padding: 10px;
	border: solid 5px #444;
}
div#content p {
	margin: 0 1em 1em;
}
div#content h3 {
	margin-bottom: 0.25em;
}
h1 {
	margin: -9px -9px 0.5em;
	padding: 15px 0 5px;
	text-align: right;
	background: #333;
	color: #667;
	letter-spacing: 0.5em;
	text-transform: lowercase;
	font: bold 25px sans-serif;
	height: 28px;
	vertical-align: middle;
	white-space: nowrap;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 0.66em;
}
div#content a:link {
	color: white;
}
div#content a:visited {
	color: #BBC;
}
div#content a:link:hover {
	color: #FF0;
}
div#content a:visited:hover {
	color: #CC0;
}
code, pre {
	color: #EDC;
	font: 110% monospace;
}
body {
	font-family: sans-serif;
	font-size: small;
}
#LogoText {
	font-size: 28px;
	text-align: right;
	color: #CCC;
	font-variant: normal;
	font-weight: bolder;
	background-color: #444;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.bodyText {
	line-height: 125%;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: justify;

}
#logoBox {
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	float: right;
}
#oreGif {
	margin-right: 1px;
}
#msGif {
	margin-left: 10px;
}
#homeText {
	font-size: medium;
}
