/* CSS for OAI-PMH validation */

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul,li {
    font-size: 100%;
}

/* Validation log presentation, see ValidateSite */

.oaipmh-log-num {
    display: none;
}

.oaipmh-log-PASS {
    color: #0C0;
}

.oaipmh-log-FAIL {
    color: #C00;
}

.oaipmh-log-type {
    font-weight: bold;
}

/* Table for http://www.openarchives.org/Register/BrowseSites */

table.registration-table {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-collapse: collapse;
}

table.registration-table td,th {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
    padding-left: 0.4em;
    padding-right: 0.4em;
}


/* Table for http://www.openarchives.org/Register/BrowseSites */

table.identify-table {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-collapse: collapse;
}

table.identify-table td,th {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-collapse: collapse;
    padding-left: 0.4em;
    padding-right: 0.4em;
}

