#AuthUserFile /var/www/html/openarchives/htdocs/private/.htpasswd
#AuthName "OAI-ORE Specifications (alpha release)"
#AuthType Basic
#Require user ore-accel ore-tc

AddHandler type-map .var
AddHandler type-map var
DirectoryIndex toc

