AddHandler type-map .var
AddHandler type-map var
DirectoryIndex toc

# For JSON-LD spec:
AddType application/ld+json .json
AddType application/n-triples .nt
<FilesMatch "\.json$">
  Header set Access-Control-Allow-Origin "*"
</FilesMatch>
