/* support.css - a modification of the titleBar for the specific title for this page */
#oaiTitle {
    padding-top:10px;
    font-size: 26px;
}
/* Who pays for us pane */
#supportBody hr {
	width: 818px;
	margin: 0;
	padding: 0;
}
#supportBody {
	color: #C0C0C0;
	clear: right;
	margin-top: 10px;
}
#supportText {
	width: 660;
	font-size: 8pt;
	padding: 10px 20px 20px 20px;
	text-align: justify;
}
#supportBody img {
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.supporterImg {
	border-width: 0px;
}
