/* Properties for the title bar where we use a logo on the left
 * and then a title to the right. Text size is in pixels to try to 
 * keep this in sync with the icon size.
 */
#titleBar {
	min-height: 92px;
}

#oaiIcon {
	float: left;
	padding: 6px;
}

#oaiTitle {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	letter-spacing: 0.2em;
	padding-bottom: 10px;
}

#menu dl {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font: 12px verdana, arial, sans-serif;
}

#menu dt {
	padding: 0px;
	list-style-type: none;
	font: 12px verdana, arial, sans-serif;
	cursor: pointer;
	text-align: center;
	font-weight: normal;
	background: #ccc;
	border: 1px solid gray;
	margin: 1px;
	padding-left: 35px;
	padding-right: 35px;
}

#menu dd {
	list-style-type: none;
	font: 12px verdana, arial, sans-serif;
	border: 1px solid gray;
	position: absolute;
	background: white;
	display: none;
	padding: 0px;
	z-index: 900;
}

#menu ul {
        margin: 0px; 
        padding: 0px;
        list-style-type: none;
        font: 12px verdana, arial, sans-serif;
}

#menu li {
        font: 12px verdana, arial, sans-serif;
	text-align: left;
	font-weight: normal;
	background: white;
	width: auto;
	line-height: 150%;
	font-style: italic;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	border: 1px solid black;
	background: #E6E6E6;
	padding-left: 4px;
	padding-right: 4px;
}

#menu dt a {
	color: #000;
	text-decoration: none;
	height: 100%;
	border: 0 none;
}

#menu li a {
	color: #000;
	text-decoration: none;
	height: 100%;
	border: 0 none;
}

#menu dt a:hover {
	background: #eee;
}

#menu li a:hover {
	background: #eee;
}

#firstMenu {
	margin-right: 10px;
}
